{% extends "base.html" %}

{% block content %}
<h1>Корзина</h1>
{% if news%}
{% for item in news%}
<div class="col-md6 border rounded">
    <table>
        <tr><td width="200">
    <div>
        <img src="{{item.contet}}" width="45%">
    </div></td><td>
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}

    </div>
        <div>
            <strong>{{item.cost}} рублей</strong>
        </div>
    <div>
        <a href="" class="btn btn-warning">
            Купить

        </a>
        <a href="/delete_item/{{ item.id }}" class="btn btn-danger">
            Удалить

        </a>
        </div>
        </td></tr></table>
</div>
{% endfor %}
    <h4>Итого:</h4>
    <h6>{{all_cost}} рублей</h6>
{% else %}
<br>
<br>
<br>
<br>
<br>
<center>
    <h2>Товаров нет</h2>
</center>
{% endif %}

{% endblock %}